body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    
    
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Roboto', sans-serif;
    
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
h1 {
  color: #303030;
  font-family: 'Roboto', sans-serif;
}
.dark-mode {
	background-color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.dark-mode h1{
	color: #FFE6E6;
}
.container {
  
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
  margin-top: auto;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;

  
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
    );
}
.note.new {
  background-color: #C6DCE4;
}
textarea {
  border: none;
  resize: none;
  background-color: #C6DCE4;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

textarea:focus{
outline: none;
}

.save {
  background-color: #A0BCC2;
  border: none;
  border-radius: 10px;
  padding: 9px 7px 7px 9px;
  width: 100px;
}
.save:hover {
background-color: #FFE6E6 ;
cursor: pointer;
}

.note {
  background-color: #FFE6E6;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  padding: 16px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  
}
 .note-footer {
 display:flex;
 align-items: center;
 justify-content: space-between;
 font-family: 'Roboto', sans-serif;
  font-size: 18px;
 
} 

.delete-icon {
  cursor: pointer;
}
.search {
	display: flex;
	align-items: center;
	background-color: #A0BCC2;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 1.5em;
  margin-top: 1.5em;

}

.search input {
	/* border: 1px solid#FFE6E6; */
  /* border-radius: 10px; */
  border: none;
	background-color: #A0BCC2;
  /* padding: 10px; */
  margin-left: 20px;
	width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}

.search input:focus {
	outline: none;
}



